@charset "UTF-8";
* {
  margin: 0em;
  padding: 0em;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  width: 1em;
  background-color: black;
}

body::-webkit-scrollbar-track,
html::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
  background: #888;
}

body::-webkit-scrollbar-corner,
html::-webkit-scrollbar-corner {
  background-color: black;
}

.Black-bar-1 {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 1.3em;
  left: 0%;
  background-color: black;
  z-index: 22;
}

.Black-bar-2 {
  position: fixed;
  top: 0%;
  width: 1.3em;
  height: 100%;
  left: 0%;
  background-color: black;
  z-index: 22;
}

.image-displayer {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 1000;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image-displayer .the-image-displayer {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image-displayer .the-image-displayer .close-imgage-btn {
  width: 1em;
  height: 1em;
  margin: .1em;
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: .1em;
  background-color: #f1f1f1;
}

.image-displayer .the-image-displayer .close-imgage-btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.image-displayer .the-image-displayer .close-imgage-btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.video-container {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: fixed;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  opacity: 1;
}

.video-container video {
  height: 100vh;
}

.big-container {
  width: 100vw;
  height: 100vh;
  /* The slider itself */
  /* Mouse-over effects */
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
}

.big-container .slidecontainer {
  width: 100%;
  /* Width of the outside container */
}

.big-container .slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  /* Full-width */
  height: 25px;
  /* Specified height */
  background: #d3d3d3;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.big-container .slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

.big-container .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #04AA6D;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

.big-container .slider::-moz-range-thumb {
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #04AA6D;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

.big-container .map {
  width: 200em;
  height: 200em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.big-container .map .the-image {
  width: 100%;
  height: 100%;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  opacity: 1;
  z-index: 2;
}

@-webkit-keyframes mapanimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes mapanimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.big-container .map .the-image-2 {
  width: 100%;
  height: 100%;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  opacity: 1;
  z-index: 2;
  -webkit-animation: mapanimation 6s linear infinite;
          animation: mapanimation 6s linear infinite;
}

.big-container .map .the-dote {
  width: 100%;
  height: 100%;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  z-index: 3;
}

@-webkit-keyframes boatanimation {
  0% {
    left: 40%;
    top: 68%;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
    opacity: 1;
    background-image: url("./Images/Boate-1.png");
  }
  2% {
    left: 37%;
    top: 70%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  5% {
    left: 30%;
    top: 67%;
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  10% {
    left: 25%;
    top: 70%;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  13% {
    left: 21%;
    top: 68%;
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
  15% {
    left: 22%;
    top: 64%;
    -webkit-transform: rotate(65deg);
            transform: rotate(65deg);
  }
  18% {
    left: 22%;
    top: 60%;
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg);
  }
  22% {
    left: 21.6%;
    top: 53%;
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg);
  }
  32% {
    left: 17%;
    top: 37%;
    -webkit-transform: rotate(67deg);
            transform: rotate(67deg);
  }
  40% {
    left: 13%;
    top: 30%;
    -webkit-transform: rotate(65deg);
            transform: rotate(65deg);
  }
  50% {
    left: 6%;
    top: 9.7%;
    -webkit-transform: rotate(75deg);
            transform: rotate(75deg);
    opacity: 1;
  }
  51% {
    left: 6%;
    top: 9.7%;
    -webkit-transform: rotate(75deg);
            transform: rotate(75deg);
    opacity: 0;
    background-image: url("./Images/Boate-1.png");
  }
  52% {
    left: 6%;
    top: 9.7%;
    -webkit-transform: rotate(75deg);
            transform: rotate(75deg);
    opacity: 0;
    background-image: url("./Images/Boate-2.png");
  }
  53% {
    left: 6%;
    top: 9.7%;
    -webkit-transform: rotate(75deg);
            transform: rotate(75deg);
    opacity: 1;
    background-image: url("./Images/Boate-2.png");
  }
  60% {
    left: 13%;
    top: 30%;
    -webkit-transform: rotate(65deg);
            transform: rotate(65deg);
  }
  65% {
    left: 17%;
    top: 37%;
    -webkit-transform: rotate(67deg);
            transform: rotate(67deg);
  }
  70% {
    left: 21.6%;
    top: 53%;
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg);
  }
  75% {
    left: 22%;
    top: 60%;
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg);
  }
  80% {
    left: 22%;
    top: 64%;
    -webkit-transform: rotate(65deg);
            transform: rotate(65deg);
  }
  84% {
    left: 21%;
    top: 69%;
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
  88% {
    left: 25%;
    top: 70%;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  93% {
    left: 30%;
    top: 67%;
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  96% {
    left: 37%;
    top: 70%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  99% {
    left: 40%;
    top: 68%;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
    opacity: 1;
    background-image: url("./Images/Boate-2.png");
  }
  100% {
    left: 40%;
    top: 68%;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
    opacity: 0;
    background-image: url("./Images/Boate-2.png");
  }
}

@keyframes boatanimation {
  0% {
    left: 40%;
    top: 68%;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
    opacity: 1;
    background-image: url("./Images/Boate-1.png");
  }
  2% {
    left: 37%;
    top: 70%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  5% {
    left: 30%;
    top: 67%;
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  10% {
    left: 25%;
    top: 70%;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  13% {
    left: 21%;
    top: 68%;
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
  15% {
    left: 22%;
    top: 64%;
    -webkit-transform: rotate(65deg);
            transform: rotate(65deg);
  }
  18% {
    left: 22%;
    top: 60%;
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg);
  }
  22% {
    left: 21.6%;
    top: 53%;
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg);
  }
  32% {
    left: 17%;
    top: 37%;
    -webkit-transform: rotate(67deg);
            transform: rotate(67deg);
  }
  40% {
    left: 13%;
    top: 30%;
    -webkit-transform: rotate(65deg);
            transform: rotate(65deg);
  }
  50% {
    left: 6%;
    top: 9.7%;
    -webkit-transform: rotate(75deg);
            transform: rotate(75deg);
    opacity: 1;
  }
  51% {
    left: 6%;
    top: 9.7%;
    -webkit-transform: rotate(75deg);
            transform: rotate(75deg);
    opacity: 0;
    background-image: url("./Images/Boate-1.png");
  }
  52% {
    left: 6%;
    top: 9.7%;
    -webkit-transform: rotate(75deg);
            transform: rotate(75deg);
    opacity: 0;
    background-image: url("./Images/Boate-2.png");
  }
  53% {
    left: 6%;
    top: 9.7%;
    -webkit-transform: rotate(75deg);
            transform: rotate(75deg);
    opacity: 1;
    background-image: url("./Images/Boate-2.png");
  }
  60% {
    left: 13%;
    top: 30%;
    -webkit-transform: rotate(65deg);
            transform: rotate(65deg);
  }
  65% {
    left: 17%;
    top: 37%;
    -webkit-transform: rotate(67deg);
            transform: rotate(67deg);
  }
  70% {
    left: 21.6%;
    top: 53%;
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg);
  }
  75% {
    left: 22%;
    top: 60%;
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg);
  }
  80% {
    left: 22%;
    top: 64%;
    -webkit-transform: rotate(65deg);
            transform: rotate(65deg);
  }
  84% {
    left: 21%;
    top: 69%;
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
  88% {
    left: 25%;
    top: 70%;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  93% {
    left: 30%;
    top: 67%;
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  96% {
    left: 37%;
    top: 70%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  99% {
    left: 40%;
    top: 68%;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
    opacity: 1;
    background-image: url("./Images/Boate-2.png");
  }
  100% {
    left: 40%;
    top: 68%;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
    opacity: 0;
    background-image: url("./Images/Boate-2.png");
  }
}

.big-container .map .the-dote .the-boat {
  width: 10em;
  height: 7em;
  background-size: 100%;
  background-position: center;
  position: relative;
  left: 37%;
  top: 68%;
  -webkit-animation: boatanimation 100s linear infinite;
          animation: boatanimation 100s linear infinite;
  z-index: 11;
}

.big-container .map .the-dote .the-boat:hover div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.big-container .map .the-dote .the-boat div {
  background-color: #f1f1f1;
  position: relative;
  width: 150%;
  padding: .5em;
  border-radius: 1em;
  display: none;
}

.big-container .map .the-dote .the-boat div::after {
  content: '';
  position: absolute;
  left: calc(50% - 1em);
  width: 2em;
  height: 2em;
  background-color: #f1f1f1;
  z-index: -1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.big-container .map .the-dote .the-boat .the-boat-infos {
  bottom: -110%;
  left: -50%;
}

.big-container .map .the-dote .the-boat .the-boat-infos::after {
  top: -.5em;
}

.big-container .map .the-dote .the-boat .the-boat-infos-2 {
  top: -120%;
  left: -10%;
}

.big-container .map .the-dote .the-boat .the-boat-infos-2::after {
  bottom: -.5em;
}

.big-container .map .the-dote .the-boat .the-boat-infos-3 {
  top: 95%;
  left: 60%;
}

.big-container .map .the-dote .the-boat .the-boat-infos-3::after {
  top: -.5em;
  left: calc(15% - 1em);
}

@-webkit-keyframes doteanimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes doteanimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.big-container .map .the-dote .One-dote {
  width: 2em;
  height: 2em;
  position: relative;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ea1e5b;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-animation: doteanimation 1s linear infinite;
          animation: doteanimation 1s linear infinite;
}

.big-container .map .the-dote .One-dote div {
  position: relative;
  bottom: -115%;
  font-size: 1.5em;
  background-color: #f1f1f1;
  border-radius: .2em;
  padding-left: .2em;
  padding-right: .2em;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.big-container .map .the-dote .One-dote div::after {
  content: '';
  position: absolute;
  left: calc(50% - .5em);
  width: 1em;
  height: 1em;
  background-color: #f1f1f1;
  z-index: -1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.big-container .map .the-dote .One-dote:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-animation: doteanimation 0s linear infinite;
          animation: doteanimation 0s linear infinite;
  z-index: 11;
}

.big-container .map .the-dote .One-dote:hover div {
  background-color: #ea1e5b;
  color: #f1f1f1;
}

.big-container .map .the-dote .One-dote:hover div::after {
  background-color: #ea1e5b;
}

.big-container .map .the-dote .One-dote:nth-child(1) {
  left: 7%;
  top: 10.6%;
}

.big-container .map .the-dote .One-dote:nth-child(1) div {
  top: 112%;
  left: -60%;
}

.big-container .map .the-dote .One-dote:nth-child(1) div::after {
  left: calc(70% - .5em);
  top: 0%;
}

.big-container .map .the-dote .One-dote:nth-child(2) {
  left: 41.2%;
  top: 71.1%;
}

.big-container .map .the-dote #dote-carabane {
  left: 28%;
  top: 68%;
}

.big-container .map .the-dote #dote-carabane div {
  top: -142%;
  left: -100%;
}

.big-container .map .the-dote #dote-carabane div::after {
  left: calc(75% - .5em);
  bottom: 0%;
}

.big-container .map .the-dote .One-lil-dote {
  width: 1.5em;
  height: 1.5em;
  position: relative;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #20dcdc;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-animation: doteanimation 1s linear infinite;
          animation: doteanimation 1s linear infinite;
}

.big-container .map .the-dote .One-lil-dote div {
  position: relative;
  bottom: -115%;
  font-size: .8em;
  background-color: #f1f1f1;
  border-radius: .2em;
  padding-left: .2em;
  padding-right: .2em;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
}

.big-container .map .the-dote .One-lil-dote div::after {
  content: '';
  position: absolute;
  left: calc(50% - .5em);
  top: 0;
  width: 1em;
  height: 1em;
  background-color: #f1f1f1;
  z-index: -1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.big-container .map .the-dote .One-lil-dote:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-animation: doteanimation 0s linear infinite;
          animation: doteanimation 0s linear infinite;
  z-index: 3;
}

.big-container .map .the-dote .One-lil-dote:hover div {
  background-color: #ea1e5b;
  color: #f1f1f1;
}

.big-container .map .the-dote .One-lil-dote:hover div::after {
  background-color: #ea1e5b;
}

.big-container .map .the-dote #dote-CimetièreDeMbao {
  left: 8%;
  top: 1.6%;
}

.big-container .map .the-dote #dote-CimetièreDeMbao div {
  top: 119%;
  left: 180%;
}

.big-container .map .the-dote #dote-CimetièreDeMbao div::after {
  left: calc(7%);
  top: 0;
}

.big-container .map .the-dote #dote-CimetièreDeBelAir {
  left: 7%;
  top: 2%;
  z-index: -1;
}

.big-container .map .the-dote #dote-CimetièreDeBelAir div {
  top: 100%;
  left: 180%;
}

.big-container .map .the-dote #dote-CimetièreDeBelAir div::after {
  left: calc(8%);
  top: 0;
}

.big-container .map .the-dote #dote-CimetièreSaintLazareDeBéthanie {
  left: 6%;
  top: .8%;
}

.big-container .map .the-dote #dote-CimetièreSaintLazareDeBéthanie div {
  top: -103%;
  left: -290%;
}

.big-container .map .the-dote #dote-CimetièreSaintLazareDeBéthanie div::after {
  left: calc(90% - .5em);
  top: 20%;
}

.big-container .map .the-dote #dote-CimetièreDeYoff {
  left: 6%;
  top: -1.6%;
}

.big-container .map .the-dote #dote-CimetièreDeYoff div {
  top: -116%;
  left: -150%;
}

.big-container .map .the-dote #dote-CimetièreDeYoff div::after {
  left: calc(90% - .5em);
  top: 20%;
}

.big-container .map .the-dote #dote-Gnikine {
  left: 6.1%;
  top: 0.15%;
}

.big-container .map .the-dote #dote-Gnikine div {
  top: 106%;
  left: -70%;
}

.big-container .map .the-dote #dote-Gnikine div::after {
  left: calc(80% - .5em);
  bottom: -200;
}

.big-container .map .the-dote #dote-Diogué {
  left: 26.9%;
  top: 59.5%;
}

.big-container .map .the-dote #dote-Diogué div {
  top: -106%;
  left: -70%;
}

.big-container .map .the-dote #dote-Diogué div::after {
  left: calc(80% - .5em);
  top: 20%;
}

.big-container .map .the-dote #dote-Hitou {
  left: 29%;
  top: 57.5%;
}

.big-container .map .the-dote #dote-Hitou div {
  top: 106%;
  left: -50%;
}

.big-container .map .the-dote #dote-Hitou div::after {
  left: calc(70% - .5em);
  top: 0%;
}

.big-container .map .the-dote #dote-Niomoune {
  left: 31%;
  top: 56.5%;
}

.big-container .map .the-dote #dote-Niomoune div {
  top: -106%;
  left: -70%;
}

.big-container .map .the-dote #dote-Niomoune div::after {
  left: calc(80% - .5em);
  top: 20%;
}

.big-container .map .the-dote #dote-Cagnout {
  left: 32%;
  top: 58.5%;
}

.big-container .map .the-dote #dote-Cagnout div {
  top: -110%;
  left: -43%;
}

.big-container .map .the-dote #dote-Cagnout div::after {
  left: calc(70% - .5em);
  top: 30%;
}

.big-container .map .the-dote #dote-Samatite {
  left: 32%;
  top: 60%;
}

.big-container .map .the-dote #dote-Samatite div {
  top: 106%;
  left: 70%;
}

.big-container .map .the-dote #dote-Samatite div::after {
  left: calc(18% - .5em);
  top: 0%;
}

.big-container .map .the-dote #dote-Saint-Georges {
  left: 33%;
  top: 55.4%;
  z-index: 2;
}

.big-container .map .the-dote #dote-Saint-Georges div {
  top: 106%;
  left: 70%;
}

.big-container .map .the-dote #dote-Saint-Georges div::after {
  left: calc(18% - .5em);
  top: 0%;
}

.big-container .map .the-dote #dote-Elinkine {
  left: 30%;
  top: 58%;
}

.big-container .map .the-dote #dote-Elinkine div {
  top: 106%;
  left: 7%;
}

.big-container .map .the-dote #dote-Elinkine div::after {
  left: calc(18% - .5em);
  top: 0%;
}

.big-container .map .the-dote #dote-Mlomp {
  left: 33%;
  top: 55%;
}

.big-container .map .the-dote #dote-Mlomp div {
  top: 106%;
  left: 60%;
}

.big-container .map .the-dote #dote-Mlomp div::after {
  left: calc(18% - .5em);
  top: 0%;
}

.big-container .map .the-Cards {
  width: 100%;
  height: 100%;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}

.big-container .map .the-Cards .Card {
  height: 50em;
  width: 40em;
  position: relative;
  border-radius: 1em;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  z-index: 22;
  background-color: #f1f1f1;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 0s, 0s;
          transition-duration: 0s, 0s;
  z-index: 1;
}

.big-container .map .the-Cards .Card .Card-title {
  width: auto;
  padding: .2em;
  padding-top: 0em;
  padding-bottom: 0em;
  position: relative;
  background-color: #f1f1f1;
  top: -.51em;
  left: -3em;
  border-radius: .2em;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
}

.big-container .map .the-Cards .Card p {
  left: 4em;
  margin: 0;
  padding: .5em;
  margin-left: 1em;
  width: 93%;
  border-radius: .1em;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  z-index: 1;
  background-color: #f1f1f1;
}

.big-container .map .the-Cards .Card .galerie {
  width: 110%;
  position: relative;
  height: auto;
  top: -1em;
  left: 3em;
  height: 50%;
  padding: .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: scroll;
  background-color: #f1f1f1;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: .2em;
  border: .5em solid #f1f1f1;
  margin-top: 2em;
  z-index: 1;
}

.big-container .map .the-Cards .Card .galerie img {
  margin-bottom: .9em;
  border-radius: .2em;
}

.big-container .map .the-Cards .Card .galerie img:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

.big-container .map .the-Cards .Card .coordonnées {
  background-color: #f1f1f1;
  width: auto;
  z-index: 1;
}

.big-container .map .the-Cards .Card video {
  width: 39em;
  height: 26em;
  position: absolute;
  left: -110%;
  top: 20%;
  border: .5em solid #f1f1f1;
  background-color: black;
  border-radius: .5em;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.big-container .map .the-Cards .Card .close-btn {
  position: absolute;
  right: .2em;
  top: .2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: -1em;
  top: -1em;
  font-size: 1.6em;
  font-weight: 900;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: .1em;
  background-color: #f1f1f1;
  z-index: -1;
}

.big-container .map .the-Cards .Card .close-btn::after {
  content: '';
  position: absolute;
  width: 150em;
  height: 150em;
  opacity: 0.1;
  z-index: -2;
}

.big-container .map .the-Cards .Card .close-btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.big-container .map .the-Cards #Ziguinchor-Card {
  left: 51.2%;
  top: 50%;
}

.big-container .map .the-Cards #Dakar-Card {
  left: 26%;
  top: 10%;
}

.big-container .map .the-Cards #Carabane-Card {
  left: 32%;
  top: 50%;
}

.big-container .map .the-Cards #CimetièreDeMbao-Card {
  left: 35%;
  top: 5%;
}

.big-container .map .the-Cards #CimetièreDeBelAir-Card {
  left: 35%;
  top: 8%;
}

.big-container .map .the-Cards #CimetièreSaintLazareDeBéthanie-Card {
  left: 33%;
  top: 5%;
}

.big-container .map .the-Cards #CimetièreDeYoff-Card {
  left: 35%;
  top: 55%;
}

.big-container .map .the-Cards #Gnikine-Card {
  left: 5%;
  top: 57%;
}

.big-container .map .the-Cards #Gnikine-Card video {
  left: 110%;
}

.big-container .map .the-Cards #Diogué-Card {
  left: 35%;
  top: 67%;
}

.big-container .map .the-Cards #Hitou-Card {
  left: 40%;
  top: 67%;
}

.big-container .map .the-Cards #Niomoune-Card {
  left: 50%;
  top: 67%;
}

.big-container .map .the-Cards #Cagnout-Card {
  left: 40%;
  top: 55%;
}

.big-container .map .the-Cards #Samatite-Card {
  left: 40%;
  top: 67%;
}

.big-container .map .the-Cards #Saint-Georges-Card {
  left: 40%;
  top: 70%;
}

.big-container .map .the-Cards #Elinkine-Card {
  left: 40%;
  top: 73%;
}

.big-container .map .the-Cards #Mlomp-Card {
  left: 40%;
  top: 67%;
}
/*# sourceMappingURL=Style.css.map */